@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    color: #000;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 76px;
}

.logo span {
    font-family: "Bigilla";
    font-size: 22px;
    text-decoration: underline;
}

.logo,
.site-info {
    font-size: 22px;
}

.menu {
    display: flex;
}

.menu-item {
    font-size: 22px;
    margin-left: 20px;
}

.menu-item:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 100px auto;
    overflow: hidden;
}

.view {
    font-size: 1.25rem;
}

.wrapper-img {
    overflow: hidden;
    position: absolute;
    top: 35% !important;
    right: 22%;
    width: 30%;
    height: 90vh;
    z-index: 20;
}

.box {
    background: #202217;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.wrapper-img img {
    max-width: 510px;
    height: 570px;
    object-fit: cover;
}

.circle-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}

.wrapper-text {
    position: absolute;
    top: 40%;
    right: 4%;
    transform: translate(-30%, -4%);
}

.pages {
    width: 50px;
}

.pages .num {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages .num span {
    font-size: 3rem;
}

.media {
    position: absolute;
    bottom: 50px;
    display: flex;
    list-style: none;
}

.media li {
    margin-right: 15px;
}

.blocks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 140px;
    color: #8d785b;
    z-index: 20;
}